[Unit]
Description=TingTing Messenger Bot
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/opt/caulongdi/bot
ExecStart=/opt/caulongdi/bot/.venv/bin/python main.py
Restart=always
RestartSec=10
MemoryMax=800M

[Install]
WantedBy=multi-user.target
